{% extends 'all.html' %}

{% block title %}Корзина{% endblock %}

{% block name %}Через корзину{% endblock %}
{% block body %}
<div class="container">
    {% for el in cart %}
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{el.title}}</div>
            Content for list item
          </div>
          <span class="badge bg-primary rounded-pill">{{el.cout}}</span>
        </li>
      </ol>
    {% endfor %}
</div>
{% endblock %}